In [15]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot') 
import seaborn as sns
import scipy as sci
from sklearn.linear_model import LinearRegression

#Show all Columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [16]:
# Read NFL Wins CSV File
NFLWins = pd.read_csv('Wins.csv')

In [17]:
#View File
NFLWins.sample(5)

     Year             Team_Name  Win_Pct  Pts_For  Pts_Agst
73   2015       Atlanta Falcons    0.500      339       345
9    2013      Tennessee Titans    0.438      362       381
21   2015  New England Patriots    0.750      465       315
70   2015         Detroit Lions    0.438      358       400
103  2014    Cincinnati Bengals    0.656      365       344

In [18]:
#Read NFL Salary CSV File
NFLSalary = pd.read_csv('Salary.csv')

In [19]:
#View File
NFLSalary.sample(5)

,Active_Payroll,DB_Spend,DL_Spend,LB_Spend,OL_Spend,QB_Spend,RB_Spend,ST_Spend,TE_Spend,Team_Name,WR_Spend,Year
46,126142866,29119565,27579327,13774122,12665451,8554868,9754057,5670000,9426397,Seattle Seahawks,9599079,2015
139,135296641,23998689,23220914,22351365,20877161,19940908,3463515,5917426,3216625,Green Bay Packers,12310038,2015
128,117363190,23743450,19325214,23332710,16435125,9779454,3988436,5770000,2787639,Indianapolis Colts,12201162,2014
126,115713524,26348303,13759289,22543136,20899570,10708333,6779755,3888750,3518238,Kansas City Chiefs,7268150,2013
71,112300381,20601845,17255866,10760089,22154370,15148400,6462566,3223235,1889705,New York Giants,14804305,2015

In [20]:
#Merge CSV Files. Merged ON=Year & Team_Name
DF = pd.merge(NFLWins,NFLSalary, on=['Year','Team_Name'])

In [21]:
#View Merged DataFrame
DF.sample(5)

,Year,Team_Name,Win_Pct,Pts_For,Pts_Agst,Active_Payroll,DB_Spend,DL_Spend,LB_Spend,OL_Spend,QB_Spend,RB_Spend,ST_Spend,TE_Spend,WR_Spend
169,2014,Carolina Panthers,0.469,339,374,102407589,6542042,33042809,9286469,16585781,8743113,11080000,3319670,9685000,4122705
98,2016,San Francisco 49ers,0.125,309,480,121839698,20012766,14936960,24893772,16620035,20228753,3028935,4677550,5201512,12239415
60,2018,New England Patriots,0.688,436,325,163297234,38978455,17020868,16224676,20436366,22915000,8219058,7860000,15677975,15964836
91,2016,Atlanta Falcons,0.688,540,406,126876422,11639397,24778731,8219375,20866868,25500000,1775740,6743333,5477651,21875327
110,2014,Denver Broncos,0.750,482,354,124871397,22399024,9592397,20262169,25093632,18459096,2716563,4134862,3669295,18544359

In [22]:
#View Shape
DF.shape

(192, 15)

In [23]:
#Sort by Year
DF = DF.sort_values('Year')
DF = DF.reset_index(drop=True)

In [24]:
#View DF
DF.head(10)

,Year,Team_Name,Win_Pct,Pts_For,Pts_Agst,Active_Payroll,DB_Spend,DL_Spend,LB_Spend,OL_Spend,QB_Spend,RB_Spend,ST_Spend,TE_Spend,WR_Spend
0,2013,New England Patriots,0.750,444,338,106461098,15934790,16134743,16975452,22529989,14603953,2914034,4360500,4150882,8856755
1,2013,St. Louis Rams,0.438,348,364,108650600,20849529,20797990,18807996,19325657,13392823,2637944,1651371,5707555,5479735
2,2013,Arizona Cardinals,0.625,379,324,101554783,12966833,22299901,11530402,19069690,6172994,5306754,4716666,4353077,15138466
3,2013,San Francisco 49ers,0.750,406,272,115600107,23507693,12154994,17612219,17468346,2027535,9009396,6831666,10043077,16945181
4,2013,Seattle Seahawks,0.813,417,231,124266776,12254161,32619342,7377215,27955261,1521085,10137005,2792500,12778786,16831421
5,2013,Tampa Bay Buccaneers,0.250,288,389,112158019,29146836,19413715,9091661,26073673,1184375,3691753,7730000,2393504,13432502
6,2013,Atlanta Falcons,0.250,353,443,104087877,16532952,11741812,15094845,16507475,9899474,5945249,4022283,6937146,17406641
7,2013,New Orleans Saints,0.688,414,304,117130000,21608953,9802527,22400832,17964025,18193235,9159750,2775294,3545951,11679433
8,2013,Minnesota Vikings,0.344,391,480,121070107,10163875,36632382,13088356,20329032,9123684,15441147,2010531,4582244,9698856
9,2013,Detroit Lions,0.438,395,376,104041088,10877140,20985856,11979067,13471450,21556666,3997008,1685075,4403158,15085668

In [25]:
#Create Calculated %Spend fields in the DF to Prepare for Analysis
DF['DB_Pct'] = DF.DB_Spend / DF.Active_Payroll 
DF['DL_Pct'] = DF.DL_Spend / DF.Active_Payroll 
DF['LB_Pct'] = DF.LB_Spend / DF.Active_Payroll 
DF['OL_Pct'] = DF.OL_Spend / DF.Active_Payroll 
DF['QB_Pct'] = DF.QB_Spend / DF.Active_Payroll 
DF['RB_Pct'] = DF.RB_Spend / DF.Active_Payroll 
DF['ST_Pct'] = DF.ST_Spend / DF.Active_Payroll 
DF['TE_Pct'] = DF.TE_Spend / DF.Active_Payroll 
DF['WR_Pct'] = DF.WR_Spend / DF.Active_Payroll

In [26]:
#More Custom Calculated %Spend fields to Analyze
DF['OFF_Pct'] = DF.OL_Pct+DF.QB_Pct+DF.RB_Pct+DF.TE_Pct+DF.WR_Pct
DF['DEF_Pct'] = DF.DB_Pct+DF.DL_Pct+DF.LB_Pct
DF['QBOL_Pct'] = DF.QB_Pct+DF.OL_Pct
DF['Skill_Pct'] = DF.QB_Pct+DF.RB_Pct+DF.WR_Pct+DF.TE_Pct
DF['OLDL_Pct'] = DF.OL_Pct+DF.DL_Pct
DF['DLLB_Pct'] = DF.DL_Pct+DF.LB_Pct
DF['DST_Pct'] = DF.DEF_Pct+DF.ST_Pct

In [27]:
#View DF
DF.sample(5)

,Year,Team_Name,Win_Pct,Pts_For,Pts_Agst,Active_Payroll,DB_Spend,DL_Spend,LB_Spend,OL_Spend,QB_Spend,RB_Spend,ST_Spend,TE_Spend,WR_Spend,DB_Pct,DL_Pct,LB_Pct,OL_Pct,QB_Pct,RB_Pct,ST_Pct,TE_Pct,WR_Pct,OFF_Pct,DEF_Pct,QBOL_Pct,Skill_Pct,OLDL_Pct,DLLB_Pct,DST_Pct
181,2018,Kansas City Chiefs,0.750,565,421,152029543,25694596,14751750,36564924,34471151,6333141,4652068,3085000,13195455,13281458,0.169011,0.097032,0.240512,0.226740,0.041657,0.030600,0.020292,0.086795,0.087361,0.473153,0.506555,0.268397,0.246413,0.323772,0.337544,0.526847
18,2013,Oakland Raiders,0.250,322,453,63483213,13440874,6568845,7688981,10275023,405000,11765884,6491166,2062838,4784602,0.211723,0.103474,0.121118,0.161854,0.006380,0.185339,0.102250,0.032494,0.075368,0.461435,0.436315,0.168234,0.299580,0.265328,0.224592,0.538565
80,2015,Kansas City Chiefs,0.688,405,287,117841348,24377775,11290693,21681882,16469373,21476940,9577339,4745666,2227212,5994468,0.206869,0.095813,0.183992,0.139759,0.182253,0.081273,0.040272,0.018900,0.050869,0.473054,0.486674,0.322012,0.333295,0.235572,0.279805,0.526946
36,2014,New York Giants,0.375,380,400,117990449,25882590,18187191,9516358,19113136,21008400,5337479,4475000,1780824,12689471,0.219362,0.154141,0.080654,0.161989,0.178052,0.045237,0.037927,0.015093,0.107547,0.507917,0.454157,0.340041,0.345928,0.316130,0.234795,0.492083
45,2014,Indianapolis Colts,0.688,458,369,117363190,23743450,19325214,23332710,16435125,9779454,3988436,5770000,2787639,12201162,0.202307,0.164662,0.198808,0.140036,0.083326,0.033984,0.049164,0.023752,0.103961,0.385060,0.565777,0.223363,0.245023,0.304698,0.363469,0.614940

In [28]:
#View Shape
DF.shape

(192, 31)

In [29]:
#View DF types
DF.dtypes

Year                int64
Team_Name          object
Win_Pct           float64
Pts_For             int64
Pts_Agst            int64
Active_Payroll      int64
DB_Spend            int64
DL_Spend            int64
LB_Spend            int64
OL_Spend            int64
QB_Spend            int64
RB_Spend            int64
ST_Spend            int64
TE_Spend            int64
WR_Spend            int64
DB_Pct            float64
DL_Pct            float64
LB_Pct            float64
OL_Pct            float64
QB_Pct            float64
RB_Pct            float64
ST_Pct            float64
TE_Pct            float64
WR_Pct            float64
OFF_Pct           float64
DEF_Pct           float64
QBOL_Pct          float64
Skill_Pct         float64
OLDL_Pct          float64
DLLB_Pct          float64
DST_Pct           float64
dtype: object

In [30]:
#Create Sub DataFrames for data by year
Y_2013 = DF[0:32]
Y_2014 = DF[32:64]
Y_2015 = DF[64:96]
Y_2016 = DF[96:128]
Y_2017 = DF[128:160]
Y_2018 = DF[160:192]

In [31]:
#Positional Spend% Sub DataFrame
Spend_Pcts = DF[['Year','OL_Pct','QB_Pct','RB_Pct','WR_Pct','TE_Pct','DL_Pct',\
                 'LB_Pct','DB_Pct','ST_Pct']]